/* ----- +Main ----- */

.content {
  background-color: rgba(255,255,255,0.75);
  border-radius: 7.5px;
  padding: 2rem;
}

h1 {
  border-bottom: 1px solid rgba(0,0,0,0.75);
  margin-top: 0;
}

.contact-block {

}

.con-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.con-info a {
  color: rgb(0, 108, 141);
  text-decoration: none;
}

.con-info a:hover {
  text-decoration: underline;
}
