/* ----- =Main ----- */

.content {
  width: 80%;
  margin: 1rem auto;
  /*padding:2rem;*/
  /*background-color: rgba(255,255,255,0.75);*/
  border-radius: 7.5px;
}

/* ----- =Previews ----- */

.previews {
  text-align: center;
  overflow: hidden;
}

.pre-box {
  padding: 0.1em;
}

.pre-main-group {
  width: 100%;
}

.pre-main-group-content {
  /*border: 3px solid #fff;*/
  border-radius: 7.5px;
  overflow: hidden;
  height: 30rem;
}

.pre-main {
  width: 75%;
  float: left;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

.pre-main div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pre-main img {
  height: 115%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-49.5%);
}

.pre-side {
  float: left;
  width: 25%;
  height: 100%;
  background-color: rgb(0, 108, 141);
}

.pre-main h2 {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: -20px;
  width: 100%;
  padding: .5em 1em;
  text-align: left;
  /*border-radius: 5px 0 0 0;*/
  z-index: 10;
}

.pre-side-content h2 {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: -15px;
  width: 97%;
  padding: .5em 1em;
  text-align: left;
  border-radius: 7.5px 7.5px 0 0;
}

.pre-bottom {
  float: left;
  width: 25%;
  height: 17.5em;
}

.bottom-content {
  border-radius: 7.5px;
  border: 3px solid #fff;
  height: 100%;
  position: relative;
}

.bottom-content p {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: -17px;
  width: 100%;
  padding: .5em 1em;
  text-align: left;
}

/* ----- =Panels ----- */

.panels {
  list-style-type: none;
  padding: 2rem 0 0 0;

  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.75);
}

.panels li {
  background-color: rgb(0, 108, 141);
  border-radius: 7.5px;
  padding: 1rem 2rem 2rem;
  margin: 0 2em;
  opacity: 0.75;
  display: inline-block;
  width: 25%;
  min-height: 25em;
  vertical-align: top;
}

.panels li:hover {
  opacity: 1;
}

.panels a {
  text-decoration: none;
  color: white;
}

.panels h2 {
  margin-top: 0.4em;
  margin-bottom: 1.23em;
}

.panels img {
  display: block;
  max-height: 150px;
  width: 100%;
  margin: 0 auto;
}

.panels p {
  text-align: left;
}
