html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Avenir", sans-serif;
  /*background-color: rgb(36, 39, 57);*/
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
/*  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;*/
}

.bground {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

/* ----- =Header ----- */

.masthead {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mast-size {
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-flag {
  width: 75px;
  height: 100px;
  background-color: rgb(0, 108, 141);
  display: inline-block;
  opacity: 0.75;
}

.logo-flag:hover {
  opacity: 1;
}

.logo-flag img {
  max-width: 90%;
  padding: .5rem;
  margin: 0 auto;
  position: relative;
  top: 58px;
  left: 3.75px
}

.nav {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 1rem 2rem;
  opacity: 0.75;
}

.nav img {
  width: 1rem;
  margin: 0 .75rem;
  position: relative;
  top: 0.2rem;
}

.nav a:hover {
  opacity: 1;
}

/* ----- =Main ----- */

.content {
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}
/* ----- =Latest Content -----*/
.latest-project {
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.75);
  max-width: 600px;
}

/*.latest-project:hover {
  background-color: rgba(255,255,255,0.25);
}*/

.latest-project h1 {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}

.latest-project figure {
  margin: 0;
  position: relative;
  height: 250px;
  border-radius: 7.5px;
  overflow: hidden;
}

.preview {
  width: 600px;
}

.latest-project figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.75);
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.latest-project p {
  text-shadow: 1px 1px rgba(255,255,255,0.5)
}

.latest-project p:nth-child(even) {
  padding: 1rem 0;
}

.latest-project p:last-child {
  margin: 0 0 2rem;
}

.latest-project a {
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: rgb(0, 108, 141);
  color: white;
  border-radius: 7.5px;
  text-decoration: none;
  opacity: 0.75;
}

.latest-project a:hover {
  opacity: 1;
}

/* ----- =Panels ----- */

.panels {
  list-style-type: none;
  padding-left: 0;

}

.panels li {
  background-color: rgb(0, 108, 141);
  border-radius: 7.5px;
  padding: 1rem 2rem 2rem;
  opacity: 0.75;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.panels li:hover {
  opacity: 1;
}

.panels a {
  text-decoration: none;
  color: white;
}

.panels h2 {
  margin-top: 0.4em;
  margin-bottom: 1.23em;
}

.panels img {
  display: block;
  height: 150px;
  margin: 0 auto;
}

/* ----- =Footer ----- */


.mastfoot {
  background-color: #222;
  text-align: center;
  /*position: fixed;
  bottom: 0;
  width: 100%;*/
}

.foot-size {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.mastfoot ul {
  list-style-type: none;
}

.mastfoot li {
  display: inline-block;
}

.mastfoot a {
  text-decoration: none;
  color: #555;
}

.social img {
  width: 1rem;
  margin: 0 .75rem;
  position: relative;
  top: 0.2rem;
}

.mastfoot a:hover {
  opacity: 0.75;
}

.info a {
  padding: 0 1rem;
  border-right: 1px solid #555;
}

a.outer {
  border-right: none;
}
